@import "./icons.css";
@import "./heading.css";

body {
  font-family: "Geist", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
