[Unit]
Description=Abblet
After=network.target

[Service]
Type=simple
User=faunder
Group=faunder
WorkingDirectory=/home/faunder/apps/applet
Environment="PATH=/home/faunder/.bun/bin:/usr/local/bin:/usr/bin:/bin"
Environment="PORT=8090"
EnvironmentFile=/home/faunder/apps/applet/.env
ExecStart=/home/faunder/.bun/bin/bun start
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
